@model EpisodeListViewModel
@using DiziSearch.Utility
@{
    ViewData["Title"] = "Episode";
    int a = 1;

}
<br />
<br />
<div class="" style="position:absolute;margin-left:500px;z-index:5;">
    <a asp-action="WaitedList" class="btn btn-ekle">Waited List</a>
</div>
<div class="row">
    <div class="col-6">
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-ekle-page-normal" page-class-selected="btn-ekle-page-selected"
             class="btn-group" style="display:block;">
        </div>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-ekle">Yeni Bölüm Ekle</a>
    </div>
</div>
<br />
<table class="table" style="border:2px solid;">
    <tr class="table-header">
        <th>@Html.DisplayNameFor(m => m.Episodes.FirstOrDefault().Dizi.Image)</th>
        <th>@Html.DisplayNameFor(m => m.Episodes.FirstOrDefault().UploadedBy)</th>
        <th>@Html.DisplayNameFor(m => m.Episodes.FirstOrDefault().Dizi.Name)</th>
        <th>@Html.DisplayNameFor(m => m.Episodes.FirstOrDefault().Season)</th>
        <th>@Html.DisplayNameFor(m => m.Episodes.FirstOrDefault().Ep)</th>
        <th>@Html.DisplayNameFor(m => m.Episodes.FirstOrDefault().Subtitle)</th>
        <th>@Html.DisplayNameFor(m => m.Episodes.FirstOrDefault().Approved)</th>
        <th></th>
    </tr>
    @foreach (var items in Model.Episodes)
    {
        if (a == 1)
        {
            <tr class="table-inner" style="font-weight:700;font-size:20px;">
                <td style="padding:0;"> <a asp-action="Display" asp-route-alias="@items.Alias" asp-route-dizi="@items.Dizi.Alias"><img style="width:100px;height:100px;" src="@items.Dizi.Image" alt="" /></a></td>
                <td style="padding:0;">
                    @if (items.UploadedBy != null)
                    {
                        @items.UploadedBy.Substring(0, items.UploadedBy.IndexOf('@'))
                    }
                </td>
                <td style="padding:0;">@Html.DisplayFor(m => items.Dizi.Name)</td>
                <td style="padding:0;">@Html.DisplayFor(m => items.Season)</td>
                <td style="padding:0;">@Html.DisplayFor(m => items.Ep)</td>
                @if (items.Subtitle == "images/FlagImages/0.png")
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-route-imgUrl="images/FlagImages/1.png" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img style="margin-top:10px;" src="~/@items.Subtitle" alt="">
                            </button>
                        </form>
                    </td>
                }
                else if (items.Subtitle == "images/FlagImages/1.png")
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-route-imgUrl="images/FlagImages/2.png" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img style="margin-top:10px;" src="~/@items.Subtitle" alt="">
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-route-imgUrl="images/FlagImages/0.png" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img style="margin-top:10px;" src="~/@items.Subtitle" alt="">
                            </button>
                        </form>
                    </td>
                }
                @if (items.Approved == true)
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img src="~/images/IconImages/tasil2.png" alt="" />
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img src="~/images/IconImages/fasil2.png" alt="" />
                            </button>
                        </form>
                    </td>
                }
                <td style="padding:0;" class="text-right">
                    <a asp-action="Display" asp-route-alias="@items.Alias" asp-route-dizi="@items.Dizi.Alias" class="btn btn-ekle">View</a>
                    <a asp-action="Edit" asp-route-id="@items.Id" class="btn btn-ekle">Edit</a>
                    <a asp-action="Details" asp-route-id="@items.Id" class="btn btn-ekle">Details</a>
                    @if (User.IsInRole(Constants.MasterAdminUser))
                    {
                        <a asp-action="Delete" asp-route-id="@items.Id" class="btn btn-ekle">Delete</a>
                    }
                </td>
            </tr>
            a = 2;
        }
        else
        {
            <tr class="table-inner bg-light" style="font-weight:700;font-size:20px;">
                <td style="padding:0;"> <a asp-action="Display" asp-route-alias="@items.Alias" asp-route-dizi="@items.Dizi.Alias"><img style="width:100px;height:100px;" src="@items.Dizi.Image" alt="" /></a></td>
                <td style="padding:0;">
                    @if (items.UploadedBy != null)
                    {
                        @items.UploadedBy.Substring(0, items.UploadedBy.IndexOf('@'))
                    }
                </td>
                <td style="padding:0;">@Html.DisplayFor(m => items.Dizi.Name)</td>
                <td style="padding:0;">@Html.DisplayFor(m => items.Season)</td>
                <td style="padding:0;">@Html.DisplayFor(m => items.Ep)</td>
                @if (items.Subtitle == "images/FlagImages/0.png")
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-route-imgUrl="images/FlagImages/1.png" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img style="margin-top:10px;" src="~/@items.Subtitle" alt="">
                            </button>
                        </form>
                    </td>
                }
                else if (items.Subtitle == "images/FlagImages/1.png")
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-route-imgUrl="images/FlagImages/2.png" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img style="margin-top:10px;" src="~/@items.Subtitle" alt="">
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-route-imgUrl="images/FlagImages/0.png" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img style="margin-top:10px;" src="~/@items.Subtitle" alt="">
                            </button>
                        </form>
                    </td>
                }
                @if (items.Approved == true)
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img src="~/images/IconImages/tasil2.png" alt="" />
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td style="padding:0;text-align:center;">
                        <form method="post" asp-route-id="@items.Id" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-action="EditAuto">
                            <button style="margin-top:5px;text-decoration:none;cursor:pointer;background-color:transparent;border:0;" type="submit" class="">
                                <img src="~/images/IconImages/fasil2.png" alt="" />
                            </button>
                        </form>
                    </td>
                }
                <td style="padding:0;" class="text-right">
                    <a asp-action="Display" asp-route-alias="@items.Alias" asp-route-dizi="@items.Dizi.Alias" class="btn btn-ekle">View</a>
                    <a asp-action="Edit" asp-route-id="@items.Id" class="btn btn-ekle">Edit</a>
                    <a asp-action="Details" asp-route-id="@items.Id" class="btn btn-ekle">Details</a>
                    @if (User.IsInRole(Constants.MasterAdminUser))
                    {
                        <a asp-action="Delete" asp-route-id="@items.Id" class="btn btn-ekle">Delete</a>
                    }
                </td>
            </tr>
            a = 1;
        }
    }
</table>
<br />